:root{
    --charcoal: #424b54ff;
    --cadet-gray: #93a8acff;
    --white: #ffffffff;
    --orchid-pink: #e2b4bdff;
    --rose-taupe: #9b6a6cff;
}


body{
font-family: "Noto Sans Telugu UI";
}

.header{
    background-color: var(--charcoal) ;
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    color:snow;
}
.header a{
    text-decoration: none;
    color:snow;
}


.aside{
    background-color: var(--charcoal);
    width: 20%;
    float:left;
    margin-top: 18px;
    padding-left: 7px;
    color:white;
}
.aside h1{
    align-content: center;
}
.aside ul{

}

.main{

    width: 75%;
    float:right;
    display: block;
    margin-top: 18px;
}