table ,th ,td {
    border:1px solid;
    border-collapse: collapse;
    border-radius: 25rem;
}

table{
    width:75%
}
th, td{
    padding: 15px;
    text-align: left;
}

tr:hover {
    background-color: #c82333;
}